/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f8f7;
  ;
}

/* nav */
nav {
  width: 100%;
  height: 90px;
  font-family: alegreya, serif;
  font-size: medium;
}

.logo {
  height: 290px;
  margin-right: 100px;
  margin-bottom: 10px;

}

/* background image nav */
.home-img {
  background-image: url(images/banner/home.jpg);
}

.service-img {
  background-image: url(images/banner/banner3.png);
}

.menu-img {
  background-image: url(images/pic.png);
}

.price_list-img {
  background-image: url(images/corporate.png);
}

.shop-img {
  background-image: url(images/banner/shop.png);
}

.slide-1 {
  /* background-image: url(images/banner/desh-catering-itemized-price-list-dhaka.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-property: background, border, border-radius, box-shadow;
  position: relative;
  background-attachment: fixed;

}

.bannerBlackOverlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(0.2, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerTitle {
  font-weight: 1000;
  font-size: 100px;
  color: #fff;
  text-align: center !important;
  position: relative;
}

.bannerBtn {
  background-color: #08af57;
  padding: 20px 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.cate-name {
  color: #f4cd78;
  font-family: alegreya sans, Sans-serif;
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: .5px;
  margin-top: 200px;
}

/* index */

.pri-cate {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(79, 79, 79, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pri-cate>div {
  font-weight: 1000;
  font-size: 10px;
  color: #fff;
  text-align: center !important;
  position: relative;
}


.cate-name2 {

  color: #fff;
  font-family: alegreya sans sc, Sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: oblique;
  line-height: 1.2em;
  letter-spacing: 2.9px;
  margin-top: 50px;

}

.card-img-overlay>h3 {
  color: #ffce42;
  font-family: open sans, Sans-serif;
  font-size: 50px;
  font-weight: 550;
}

.card-img-overlay>p {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.8em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-container {
  margin-top: 40px;
  text-align: center;

}

.home-container>div>h2 {
  padding: 40px;
  font-size: 2.5em;
  font-weight: 700;
  font-family: alegreya, serif;
  color: #0f434c;
}

.service {
  width: 600px;
  height: 610px;
  background-image: url(images/event.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.feature {
  margin: 40px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-text {
  color: #54595f;
  font-size: 18px;
}

.footer-head>h2 {
  color: #fff;
  font-family: alegreya sans sc, Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.footer-head>p {
  font-family: open sans, Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.icon>img {
  width: 50px;
  height: 50px;
  justify-content: space-between;
}

.client {
  background-color: rgb(238, 181, 106);
  padding: 30px;
}


.client-block {
  height: 180px;
  width: 200px;
  background-color: rgba(58, 58, 58, .7803921568627451);
  display: inline-block;
  margin: 7px;
  border-radius: 6px;
}

.client-block img {
  width: 160px;
  height: 120px;
  margin-top: 30px;


}

/* form */
.form-fill {
  width: 70%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgb(53 105 128 / 30%), 0 6px 20px 0 rgb(165 200 213 / 41%);
  margin-left: 160px;
  padding-top: 30px;
  color: #33475b;
}

/* price-list */

.price {

  width: 500px;

}

/* ul{
    margin-left: 170px;
} */

.img-height {
  height: 550px;
}

/* footer */
footer {
  background-color: #54595f;
  color: white;
  height: 350px;
  align-self: center;
  padding: 50px;
}

.footer-head>h2 {
  color: #fff;
  font-family: alegreya sans sc, Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.footer-head>p {
  font-family: open sans, Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.icon>img {
  width: 50px;
  height: 50px;
  justify-content: space-between;
}

/* service */
.Private {
  background-color: #F4CD78;
  height: 320px;
  width: 100%;
  padding-top: 60px;
}

.Birthday {
  background-image: url(images/service/Birthday.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.wedding {
  background-image: url(images/service/wedding.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.family {
  background-image: url(images/service/family.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.conference {
  background-image: url(images/service/conference.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.small {
  background-image: url(images/service/social.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cafe {
  background-image: url(images/service/cafe.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item {
  height: 570px;
  width: 610px;
  background-color: antiquewhite;
  /* margin-left: auto;
 margin-right: 30px; */
  opacity: 0.8;
}

.Private>h1 {
  font-size: 50px;
  font-weight: 500;
  color: #0F434C;
  font-family: alegreya, serif;
}

.Private>p {
  margin-top: 30px;
  font-size: 25px;
  color: #000;

}

.service-item>h1 {
  font-size: 50px;
  color: #082b31;
  font-family: open sans, Sans-serif;
  line-height: 1;
  font-weight: 900;

}

.service-item>p {
  font-size: 25px;
  color: #54595f;
  line-height: 1.7em;
  margin-bottom: 40px;
}

/* menu */

.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  margin-right: 50px;
}

.menu-head {
  background-color: #F4CD78;
  color: #0F434C;
  font-family: alegreya, Sans-serif;
  font-weight: bold;
}

.menu-head>h4 {
  font-size: 25px;
  font-weight: 600;
  color: #0F434C;
  margin-top: 20px;
}

.menu-head>p {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0;
}

.card-body {
  background: #ece9e3;
}

tr {
  border-color: rgb(199, 204, 204);
  border-spacing: 0px 45px;
}

.table {
  border-collapse: separate;
}

/* price-list */
.Price-menu {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 60px;

  justify-content: center;
  margin-top: 50px;

  font-family: "Montserrat", Sans-serif;

}

.price-head {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  color: #23A455;
  font-family: "Alex Brush", Sans-serif;
  font-style: italic;
  font-size: 50px;
  margin-bottom: 70px;

}

.price-hr {
  height: 1px;
  width: 430px;
  background-color: #23A455;
  margin: 22px 0 4PX 4PX;

}

.price-h1 {
  color: #23A455;

  font-family: "Lucida Handwriting";
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,itela; */
  font-size: 30px;
}

.price {
  margin-bottom: 2px;
  width: 400px;
  margin-bottom: 40px;
}

.price>div>div>h5 {

  font-size: 16px;
  font-weight: 530;
  color: black;
  font-family: "Montserrat", Sans-serif;

}

.price>p {
  color: #54595F;
  width: 390px;
  font-size: 14px;
}

.price-foot>sup>h3 {
  font-size: 15px;

}

.price-foot {
  font-size: 18px;
}

.mt-n1 {
  margin-top: -1.14rem;
}

/* login */
.login {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.loginFormMainDiv {
  display: flex;
  justify-content: center;

  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.loginFormDiv {
  flex-direction: column;
  box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
  width: 60%;
}

.loginFormDiv,
.loginFormMainDiv {
  display: flex;
  justify-content: center;
}

.loginForm__title {
  text-align: center;
  margin: 5% 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;

}

.loginForm {
  padding: 0 10% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-floating {
  position: relative;
  
}

.registrationForm__title {
  text-align: center;
  margin: 5% 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.registrationForm {
  padding: 0 10% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* shop */
.food-list>div>a {
  margin: 2px;
  font-weight: 600;
}

.food-image {
  width: 150px;
  text-align: center;
}

.food-name {
  width: 600px;

}

.food-name>h5 {
  padding-left: 15px;
  color: #021d33;
  font-weight: bold;
  font-size: 100%;
}

.product_description>ul>li {
  font-size: 90%;
  font-weight: 100;
  line-height: 30px;
}

.food-price {
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;

}

.food-quantity {
  width: 100px;
  text-align: center;
}

.food-card {
  width: 150px;
  text-align: center;
}

.shop-row {
  vertical-align: middle;
  text-align: left;
  border-collapse: collapse;
}

.food-head,
th {
  background-color: #e7bb64 !important;
  color: #656f76 !important;
  font-size: 14px;
  border: 0px !important;
  line-height: 1.7em;
  font-weight: bold;

}

th,
td {

  border: 2px solid white;
}

.quantity,
input {
  width: 50px;
  margin-left: 3px;
  padding-left: 9px;
}

/* fqa */
.faq {
  height: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}





























